@keyframes imgshow {
  0% {opacity: 0.0;}
  25% {opacity: 0.0;}
  50% {opacity: 0.5;}
  75% {opacity: 0.75;}
  100% {opacity: 1;}
}

.themechanger {
  z-index: -1;
  position: fixed;
  right: 20px;
  top: 20px;
  animation-name: imgshow;
  animation-duration: 2s;
}

@keyframes image-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.image {
  animation: image-spin infinite 60s linear;
}
